0/GeneralTypes.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cax="http://www.exchangenetwork.net/schema/CAX/1" targetNamespace="http://www.exchangenetwork.net/schema/CAX/1" elementFormDefault="qualified" version="1">
	<xsd:annotation>
		<xsd:documentation>Schema name:  Coordinated Assessments Data Exchange (CAX).  This schema document file name is GeneralTypes.xsd and can be found at http://www.streamnet.org/coordinated-assessments-xct-development/.</xsd:documentation>
		<xsd:documentation>Description:  This schema document defines data types used in the other schema documents of the multi-document CAX schema.</xsd:documentation>
		<xsd:documentation>Description:  The "Coordinated Assessments Data Exchange Standard Version 20160527" document found at http://www.streamnet.org/coordinated-assessments-des/ contains details of the data types exchanged.  If there are discrepancies between that document and this schema please contact Mike Banach or Greg Wilke to determine if there is a reason for the discrepancy, or if there is simply an error, and for direction on how to proceed.
		Note that some elements defined in this .xsd file, though they use the same name, may have different meanings among the various data types (NOSA, RperS, SAR, etc.).  Refer to the Data Exchange Standard for definitions of the elements for each data type.</xsd:documentation>
		<xsd:documentation>Developed by:  This schema document was originally created September 20, 2016 by Michael Banach, StreamNet Project, Pacific States Marine Fisheries Commission.  It was edited September 29, 2016 by William Rensmith (Windsor Solutions, Inc).</xsd:documentation>
		<xsd:documentation>Last updated:  This schema document was last updated September 30, 2016.</xsd:documentation>
		<xsd:documentation>Point of contact:  For schema questions, contact Mike at 503-595-3152 or mike_banach@psmfc.org.  For programming questions related to this schema contact Greg Wilke, StreamNet Project, Pacific States Marine Fisheries Commission, at 503-595-3157 or gwilke@psmfc.org.</xsd:documentation>
	</xsd:annotation>
	<!-- Elements -->
	<xsd:element name="Comments" type="xsd:string" nillable="true"/>
	<xsd:element name="CompilerRecordID" nillable="true">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="36"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ContactAgency" type="cax:ContactAgencyDataType" nillable="false"/>
	<xsd:element name="ContactPersonFirst" nillable="false">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="30"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ContactPersonLast" nillable="false">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="30"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ContactPhone" nillable="false">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="30"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ContactEmail" nillable="false">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DataEntry" nillable="true">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="50"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DataEntryNotes" nillable="true">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="500"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="DataStatus" type="cax:DataStatusDataType" nillable="false"/>
	<xsd:element name="HarvestAdj" type="cax:HarvestAdjustmentDataType" nillable="true"/>
	<xsd:element name="ID" type="cax:GUIDDataType" nillable="false"/>
	<xsd:element name="IndicatorLocation" type="xsd:string" nillable="true"/>
	<xsd:element name="LastUpdated" nillable="true">
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime">
				<xsd:minInclusive value="2014-01-01T00:00:00"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MainstemHarvest" type="xsd:nonNegativeInteger" nillable="true"/>
	<xsd:element name="MeasureLocation" type="xsd:string" nillable="true"/>
	<xsd:element name="MetaComments" nillable="true">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="10000"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="MethodAdjustments" type="xsd:string" nillable="true"/>
	<xsd:element name="MethodNumber" type="xsd:unsignedByte" nillable="false"/>
	<xsd:element name="MetricLocation" type="xsd:string" nillable="true"/>
	<xsd:element name="NOBroodStockRemoved" type="xsd:nonNegativeInteger" nillable="true"/>
	<xsd:element name="NullRecord" type="cax:YesNoDataType" nillable="false"/>
	<xsd:element name="OceanHarvest" type="xsd:nonNegativeInteger" nillable="true"/>
	<xsd:element name="PopID" type="xsd:unsignedShort" nillable="false"/>
	<xsd:element name="PopFit" type="cax:PopFitDataType" nillable="true"/>
	<xsd:element name="PopFitNotes" nillable="true">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1000"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ProtMethName" type="xsd:string" nillable="true"/>
	<xsd:element name="ProtMethURL" type="xsd:string" nillable="true"/>
	<xsd:element name="ProtMethDocumentation" type="xsd:string" nillable="true"/>
	<xsd:element name="Publish" type="cax:YesNoDataType" default="No" nillable="false"/>
	<xsd:element name="RefID" type="xsd:int" nillable="true"/>
	<xsd:element name="SubmitAgency" nillable="false">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="255"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="TribHarvest" type="xsd:nonNegativeInteger" nillable="true"/>
	<xsd:element name="TRTmethod" type="cax:YesNoDataType" nillable="false">
		<xsd:annotation>
			<xsd:documentation>"TRT" refers to "Technical Recovery Teams".  These are groups of experts convened by National Marine Fisheries Service to define biological salmon populations.  They also defined the specific ways in which the status of the salmon populations would be evaluated.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UpdDate" nillable="true">
		<xsd:simpleType>
			<xsd:restriction base="xsd:dateTime">
				<xsd:minInclusive value="2014-01-01T00:00:00"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<!-- Types -->
	<xsd:simpleType name="YesNoDataType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="No"/>
			<xsd:enumeration value="Yes"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PopFitDataType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Same"/>
			<xsd:enumeration value="Portion"/>
			<xsd:enumeration value="Multiple"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DataStatusDataType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Draft"/>
			<xsd:enumeration value="Reviewed"/>
			<xsd:enumeration value="Final"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GUIDDataType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The representation of a GUID (globally unique identifier), generally the id of an element.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="36"/>
			<xsd:maxLength value="36"/>
			<xsd:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ContactAgencyDataType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Columbia River Inter-Tribal Fish Commission"/>
			<xsd:enumeration value="Colville Confederated Tribes"/>
			<xsd:enumeration value="Confederated Tribes and Bands of the Yakama Indian Nation"/>
			<xsd:enumeration value="Confederated Tribes of the Umatilla Indian Reservation"/>
			<xsd:enumeration value="Confederated Tribes of the Warm Springs Reservation of Oregon"/>
			<xsd:enumeration value="Fish Passage Center"/>
			<xsd:enumeration value="Idaho Department of Fish and Game"/>
			<xsd:enumeration value="Nez Perce Tribe of Idaho"/>
			<xsd:enumeration value="Northwest Indian Fisheries Commission"/>
			<xsd:enumeration value="Oregon Department of Fish and Wildlife"/>
			<xsd:enumeration value="Quantitative Consultants, Inc."/>
			<xsd:enumeration value="Shoshone-Bannock Tribes Fisheries Department"/>
			<xsd:enumeration value="Spokane Tribe of Indians"/>
			<xsd:enumeration value="U.S. Fish and Wildlife Service"/>
			<xsd:enumeration value="Washington Department of Fish and Wildlife"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PercentDataType">
		<xsd:restriction base="xsd:float">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ProportionDataType">
		<xsd:restriction base="xsd:float">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RearingTypeDataType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Hatchery"/>
			<xsd:enumeration value="Natural"/>
			<xsd:enumeration value="Mixed"/>
			<xsd:enumeration value="Unknown"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HarvestAdjustmentDataType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Ocean"/>
			<xsd:enumeration value="Ocean and mainstem"/>
			<xsd:enumeration value="Ocean and mainstem and tributaries"/>
			<xsd:enumeration value="Mainstem"/>
			<xsd:enumeration value="Mainstem and tributaries"/>
			<xsd:enumeration value="Tributaries"/>
			<xsd:enumeration value="Not adjusted"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
